* {
	margin: 0;
	padding: 0;
}

a.block-panel {
	display: inline-block;
	width: 150px;
	margin-right: 20px;
	text-align: center;
}

a.block-panel img {
	width: 70px;
}

a.block-panel span {
	color: #000;
	display: block;
	font-size: 14px;
	margin-top: 10px;
}